label{text-align: right;}
input.yellow{background-color: #FFFF80;}
textarea.yellow{background-color: #FFFF80;}
select.yellow{background-color: #FFFF80;}
input.yellow-large{width:100%;height:24px;background-color: #FFFF80;}

#fon{background-color: #E7F1FE; width:80%; height: 80%; margin: 4%; padding: 4%; position: absolute; border-width: 10px; border-color: black;
}

#submit{ background-color: darkgreen;
color:white; margin-left:40px; }

#service-title-ID{
width:100%; height:24px;}






#Country{width:130%;height:24px; }
#City{width:130%;height:24px; }
#BeginDate{
width:50%;height:24px;}
#kalend{margin-right:50px;}

#ED{margin-left:0px;}
#ZipCode{width:130%;height:24px; }
textarea{width:104%;}
#click{width:102%;height:24px;margin-left:8px; background-color:#9fc5f8; }
input.gray{ background-color: lightgray;}
#EndDate{width:50%;height:24px; }
